/* ID */
#Topheading {
    color: black;
    background-color: cyan;
}

#Subheading {
    color: yellow;
    background-color: black;
}
h1 {
    color: red;
    font-size: 5rem;
}
p {
    color: blue;
}

/* Css Rule */
/* Selectors */
/* Decleration Declaration */
/* Decleration */
/* Property */
/* Value */